[submodule "backend/googleapis"]
	path = backend/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "backend/grpc-gateway"]
	path = backend/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
